.product-tags {
  flex-direction: row;
  padding: 0;
  justify-content: space-evenly;
  padding: 0 100px;
  margin-bottom: 38px;

}
.selected {
  background-color: #092947 !important;
  color: #ffffff;
}

.product-tags li {
  list-style: none;
  background-color: #ffffff;
  padding: 6px 16px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  cursor: pointer;
}

